{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'kid_reg.css' %}">
</head>
<body>
    <div class="reg-container">
        <div class="reg-header">
            <h3>Welcome to Journi</h3>
            <p>Fill this optional for the best healthcare during family trips</p>
            
        </div>
        <form action = "{% url 'kidreg' %}" method="POST" enctype="multipart/form-data" class="kid-signup">
            {% csrf_token %}
            <!--Child Personal Information-->
            <h4>Personal Information</h4>
            <div class="reg">
                <p>Government First Name</p>
                <input type="text" name="gov_fname" id="c_first_name" placeholder="Enter your legal first name">
            </div>
            <div class="reg">
                <p>Government Last Name</p>
                <input type="text" name="gov_lname" id="c_last_name" placeholder="Enter your legal last name">
            </div>
            <div class="reg">
                <p>Date of Birth</p>
                <input type="date" name="date_of_birth" id="c_birthday" placeholder="Enter your date of birth">
            </div>
            <div class="reg">
                <p>Sex</p>
                {{ form.sex }}
            </div>
            <div class="reg">
                <p>Street Address</p>
                <input type="text" name="street_address" id="c_street_address" placeholder="Enter your street address" required>
            </div>
            <div class="reg">
                <p>City</p>
                <input type="text" name="city" id="c_city" placeholder="Enter your city" required>
            </div>
            <div class="reg">
                <p>State</p>
                <input type="text" name="state" id="c_state" placeholder="Enter yourstate" required>
            </div>
            <div class="reg">
                <p>Zip Code</p>
                <input type="text" name="zip_code" id="c_zip_code" placeholder="Enter your zip code" required>
            </div>
            <div class="reg">
                <p>Country</p>
                {{ form.country }}
            </div>
            <!-- Guardian Information-->
            <h4>Emergency Contact</h4>
            <div class="reg">
                <p>Emergency Contact's Full Name</p>
                <input type="text" name="emergency_contact_fullname" id="g_full_name" placeholder="Enter the name of your emergency contact">
            </div>
            <div class="reg">
                <p>Emergency Contact's email address</p>
                <input type="text" name="emergency_contact_email_address+" id="g_email_address" placeholder="Enter your legal contact's email address">
            </div>
            <div class="reg">
                <p>Emergency Contact's Phone number</p>
                <input type="text" name="emergency_contact_phone_number" id="g_phone_number" placeholder="Enter your legal contact's phone number">
            </div>
            <!--Insurance Information-->
            <h4>Insurance Information</h4>
            <div class="reg">
                <p>Insurance Provider</p>
                <input type="text" name="insurance_provider" id="insurance_provider" placeholder="Enter the insurance provider's name">
            </div>
            <div class="reg">
                <p>Insurance Policy Number</p>
                <input type="text" name="insurance_policy_number" id="insurance_policy_number" placeholder="Enter the insurance policy number">
            </div>
            <div class="reg">
                <p>Insurance Group Number (if applicable)</p>
                <input type="text" name="group_number" id="insurance_group_number" placeholder="Enter the insurance group number">
            </div>
            <!--Medical Information-->
            <h4>Medical Information</h4>
            <div class="reg">
                <p>Primary Care Doctor</p>
                <input type="text" name="primary_care_doctor" id="primary_care_doctor" placeholder="Enter the primary care doctor's name">
            </div>
            <div class="reg">
                <p>Doctor's Phone Number</p>
                <input type="text" name="doctor_phone_number" id="doctor_phone_number" placeholder="Enter the doctor's phone number">
            </div>
            <div class="reg">
                <p>Doctor's Hospital Address</p>
                <input type="text" name="doctor_hospital_address" id="doctor_hospital_address" placeholder="Enter the doctor's hospital address">
            </div>
            <div class="reg">
                <p>Current Medication</p>
                <input type="text" name="current_medication" id="current_medication" placeholder="Enter current medication">
            </div>
            <div class="reg">
                <p>Allergies (click none if not applicable)</p>
                {{ form.allergy }}
            </div>
            <div class="reg">
                <p>Medical Conditions (click none if not applicable)</p>
                {{ form.medical_conditions }}
            </div>
            <div class="reg">
                <p>Family Medical History (click none if not applicable)</p>
                {{ form.family_medical_history }}
            </div>
            <div class="reg">
                <p>Identification Type</p>
                {{ form.guardian_identification_type }}
            </div>
            <!--<div class="reg">
                <p>Child Identification Type</p>
                {{ form.child_identification_type }}
            </div> -->
            <div class="reg">
                <p>Identification Document (Images or PDFs)</p>
                <input type="file" name="guardian_identification_document" id="guardian_id_document" accept="image/*,.pdf">
            </div>
        
            <!--<div class="reg">
                <p>Child Identification Document (Images or PDFs)</p>
                <input type="file" name="child_identification_document" id="child_id_document" accept="image/*,.pdf">
            </div> -->
        
            <div class="form-buttons">
                <button type="submit" class="register-another">Submit</button>
                
            </div>
            
           
        </form>


</body>
</html>